* {
  box-sizing: border-box;
}

.cell {
  border: 1px black solid;
  width: 25px;
  height: 25px;
  display: inline-block;
  font-size: 1.2rem;
  vertical-align: top;
  text-align: center;
  background-color: #C0C0C0;
}

.mine {
  background-image: url('http://www.clker.com/cliparts/a/6/2/2/12305711191119774883rg1024_sea_mine.svg.hi.png');
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
}

.row {

}